<vex-page-layout>

  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <div class="w-full flex flex-col sm:flex-row justify-between px-gutter">
      <div>
        <h1 class="title mt-0 mb-1">Crear pedido</h1>
        <vex-breadcrumbs [crumbs]="['Inventario', 'Pedido', 'Crear']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6 px-gutter">

    <div class="grid grid-cols-1 gap-4">

      <div class="card overflow-auto -mt-16 mb-20">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
            <span *ngIf="selection.isEmpty()">Productos</span>
          </h2>
  
          <div class="bg-card rounded-full border px-4"
               fxFlex="400px"
               fxFlex.lt-md="auto"
               fxHide.xs
               fxLayout="row"
               fxLayoutAlign="start center">
            <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
            <input [formControl]="searchCtrl"
                   class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                   placeholder="Buscar..."
                   type="search">
          </div>
  
          <span fxFlex></span>
  
          <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
            <mat-icon [icIcon]="icSearch"></mat-icon>
          </button>
  
          <button [matMenuTriggerFor]="columnFilterMenu"
                  class="ml-4"
                  fxFlex="none"
                  mat-icon-button
                  matTooltip="Filtrar columnas"
                  type="button">
            <mat-icon [icIcon]="icFilterList"></mat-icon>
          </button>
        </div>
  
        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
  
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Código</th>
            <td *matCellDef="let row" ngClass="text-secondary font-medium" mat-cell>{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Nombre</th>
            <td *matCellDef="let row" ngClass="text-secondary font-medium" mat-cell>{{ row.nombre }}</td>
          </ng-container>

          <ng-container matColumnDef="precio">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Precio</th>
            <td *matCellDef="let row" ngClass="text-secondary font-medium" mat-cell>{{ row.precio | currency }}</td>
          </ng-container>
  
          <ng-container matColumnDef="categoriaId">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Categoría</th>
            <td *matCellDef="let row" ngClass="text-secondary font-medium" mat-cell>{{ row.categoria.nombre }}</td>
          </ng-container>
  
          <ng-container matColumnDef="descripcion">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Descripción</th>
            <td *matCellDef="let row" ngClass="text-secondary font-medium" mat-cell>{{ row.descripcion }}</td>
          </ng-container>
  
          <ng-container matColumnDef="stock">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Stock</th>
            <td *matCellDef="let row" ngClass="text-secondary font-medium" mat-cell>
              <div fxLayoutAlign="start center" fxLayoutGap="4px">
                <div *ngIf="row.stock > 10"
                     class="rounded px-2 py-1 font-medium text-xs text-teal bg-teal-light"
                     fxFlex="none">
                  {{ row.stock }}
                </div>
                <div *ngIf="row.stock <= 10"
                     class="rounded px-2 py-1 font-medium text-xs text-red bg-red-light"
                     fxFlex="none">
                  {{ row.stock }}
                </div>
              </div>
            </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button (click)="agregarDetalle(row)"
                      mat-mini-fab
                      color="primary"
                      type="button">
                <mat-icon [icIcon]="icAdd"></mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: visibleColumns;"
              @fadeInUp
              class="hover:bg-hover trans-ease-out cursor-pointer"
              mat-row></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
      </div>

      <div class="card overflow-auto -mt-16">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4" fxFlex="none" fxHide.xs>
            <span>Nuevo pedido</span>
          </h2>
        </div>
  
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
                style="height: 56px;">
              <th class="px-4 py-3 text-xs font-medium pl-6">Código</th>
              <th class="px-4 py-3 text-xs font-medium">Nombre</th>
              <th class="px-4 py-3 text-xs font-medium">Cantidad</th>
              <th class="px-4 py-3 text-xs font-medium">Precio</th>
              <th class="px-4 py-3 text-xs font-medium">Importe</th>
              <th class="px-4 py-3 text-xs font-medium"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of pedido.detalles">
              <td class="px-4 py-3 text-sm border-b pl-6">{{ detalle.productoId }}</td>
              <td class="px-4 py-3 text-sm border-b">{{ detalle.producto.nombre }}</td>
              <td class="px-4 py-3 text-sm border-b">
                <input type="number" matInput placeholder="0" class="w-20 my-input" [(ngModel)]="detalle.cantidad" 
                       (input)="calcularMonto()" min="0" [max]="detalle.producto.stock">
              </td>
              <td class="px-4 py-3 text-sm border-b">
                {{ detalle.producto.precio | currency }}
                <!-- <input type="number" matInput placeholder="0" class="w-20 my-input" [(ngModel)]="detalle.producto.precio" (input)="calcularMonto()" min="0"> -->
              </td>
              <td class="px-4 py-3 text-sm border-b">{{ detalle.cantidad * detalle.producto.precio | currency }}</td>
              <td class="px-6 py-1 text-sm border-b w-10 text-secondary">
                <button (click)="eliminarDetalle(detalle)"
                        mat-mini-fab
                        color="warn"
                        type="button">
                  <mat-icon [icIcon]="icDelete"></mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="px-4 py-3 text-sm">Total</td>
              <td class="px-4 py-3 text-sm">{{ pedido.monto | currency }}</td>
              <td class="px-4 py-3 text-sm"></td>
            </tr>
          </tfoot>
        </table>

        <div class="pr-8 mt-8">
          <div fxLayoutAlign="end center">

            <mat-form-field appearance="" class="ml-12 w-1/4">
              <mat-label>Método de pago</mat-label>
              <mat-select [(ngModel)]="pedido.metodoPago">
                <mat-option [value]="'efectivo'">Efectivo</mat-option>
                <mat-option [value]="'deposito'">Depósito</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="" class="ml-12 w-1/4">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="pedido.estado">
                <mat-option [value]="'pendiente'">Pendiente de pago</mat-option>
                <mat-option [value]="'pagado'">Pagado</mat-option>
                <mat-option [value]="'cancelado'">Cancelado</mat-option>
                <mat-option [value]="'entregado'">Entregado</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="" class="ml-12 w-1/4">
              <mat-label>Cliente</mat-label>
              <mat-select [(ngModel)]="pedido.cliente">
                <mat-option [value]="cliente" *ngFor="let cliente of clientes">{{ cliente.dni + ' - ' + cliente.nombres + ' ' + cliente.apellidos }}</mat-option>
              </mat-select>
            </mat-form-field>
    
          </div>
          
          <div fxLayoutAlign="end center" class="mt-6 mb-8">
            <div class="mr-4">
              <button mat-raised-button type="button" routerLink="/admin/pedidos">CANCELAR</button>
            </div>
            <div>
              <button color="primary" mat-raised-button type="button" [disabled]="!datosValidos()" (click)="crearPedido()">CREAR</button>
            </div>
          </div>
        </div>
  
      </div>

    </div>

  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
          class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>
